<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diga.WebView2.Interop" version="13.0.1" targetFramework="net472" />
  <package id="Diga.WebView2.WinForms" version="13.0.1" targetFramework="net472" />
  <package id="Diga.WebView2.Wrapper" version="13.0.1" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.7.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1020.30" targetFramework="net472" />
  <package id="MimeTypeExtension" version="1.0.28" targetFramework="net472" />
</packages>